body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); */
  background: linear-gradient(89deg, rgba(9,157,200,1) 30%, rgba(172,107,255,1) 100%);
}

button {
  cursor: pointer;
}